<head>

    <title>TLA Portal</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="<%= locals.root %>/mdb/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= locals.root %>/mdb/css/mdb.min.css">
    <link rel="stylesheet" href="<%= locals.root %>/mdb/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" language="javascript" src="<%= locals.root %>/js/xapiwrapper.min.js"></script>
    
</head>